body {
  color: green;
}
a {
  color: green;
}
.list {
  list-style-type: none;
}
.para-short {
  width: 500px;
  margin: 11px auto;
  border: solid black 1px;
  padding: 15px;
}
.para-short p {
  width: inherit;
  border: solid red 1px;
  text-align: center;
}
